doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  style(type="text/css"): include mail.css
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0')
    center
      table(cellpadding='8', cellspacing='0', style='*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff;', border='0')
        tr
          td(valign='top')
            table(cellpadding='0', cellspacing='0', style='border-radius: 6px; -webkit-border-radius: 6px; border: 1px #c0c0c0 solid; -moz-border-radius: 6px;', border='0', align='center')
              tr
                td(colspan='3', height='6')
              tr(style='line-height: 0px;')
                td(width='100%', style='font-size: 0px;', align='center', height='1')
                  img(width='40px', style='max-height: 110px; width: 70px; *width: 70px; *height: 110px;', alt='', src='https://s3.amazonaws.com/oih-misc-images/icon.png')
              tr
                td
                  table(cellpadding='0', cellspacing='0', style='line-height: 25px;', border='0', align='center')
                    tr
                      td(colspan='3', height='30')
                    tr
                      td(width='36')
                      td(width='454', align='left', style='color: #444444; border-collapse: collapse; font-size: 11pt; font-family: proxima_nova, \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; max-width: 454px;', valign='top')
                        //- -----------------------------------------------------------------------------------
                        //- Only Edit Here
                        //- -----------------------------------------------------------------------------------
                        p
                          | Here is a link for you to reset your password.  Please note it will expire in four hours for your protection:
                        p
                          a(href='#{resetLink}') Reset Your Password
                        p
                          | Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at&nbsp;
                          a(href='mailto:#{mailtoAddress}') #{mailtoName}
                          | .
                        p   - Shanon team
                        //- ----------------------------------------------------------------------------------
                      td(width='36')
                    tr
                      td(colspan='3', height='36')
            table(cellpadding='0', cellspacing='0', align='center', border='0')
              tr
                td(height='10')
              tr
                td(style='padding: 0; border-collapse: collapse;')
                  table(cellpadding='0', cellspacing='0', align='center', border='0')
                    tr(style='color: #c0c0c0; font-size: 11px; font-family: proxima_nova, \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; -webkit-text-size-adjust: none;')
                      td(width='400', align='left')
                      //td(width='128', align='right') © #{moment().format('YYYY')} #{application}